/*!
 
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar {
  background-color: #16623a;
}

.py-3 {
  background-color: white;
  color: #333333;
}

.img-thumbnail {
  opacity: 0.6;
}



ul li {
  display: inline-block;
  list-style-type: none;
}

.jumbotron {
  background-color: #66cdaa;
  color: white;
}

.intro-text {
  font-weight: bold;
}

#jumbo {
  padding: 10%;
}

.intro-text {
  font-size: 4rem;
}