@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}

.intro {

    padding: 10%;
}

#lang-gb {
    float: right;
}


#header {
    margin-top: 50px;
    opacity: 0.7;
    background-color: #d3ffce;
}

#header .intro h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3em;

}

#header .intro p {
    opacity: 3;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    font-weight: bold;
}

#header .intro a {
    text-decoration: none;
    color: black;
}

#header .intro a:hover {
    color: white;
    text-decoration: none;
}



#choice h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.choice-overlay-1 {
    color: white;
}

.choice-overlay-1:hover {
    opacity: 0.1;
    color: #666666;
}

.choice-overlay-2 {
    color: white;
}

.choice-overlay-2:hover {
    opacity: 0.1;
    color: #666666;
}

#more-info {
    padding-top: 5%;
}

#more-info ul {
    border-left: 2px solid gray;
}

footer {
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: black;
    opacity: 0.6;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}