@import url("https://fonts.googleapis.com/css?family=Caveat");

/*NavBar*/

/*NavBar*/
input:focus {
  border-color: #5cb85c !important;
  box-shadow: 0 0 5px #5cb85c !important;
}
textarea:focus {
  border-color: #5cb85c !important;
  box-shadow: 0 0 5px #5cb85c !important;
}

a {
  text-decoration: none;
  color: black;
}
.fab:hover {
  opacity: 0.7;
}

.fab-facebook {
  background: #3b5998;
  color: white;
}

.fab-twitter {
  background: #55acee;
  color: white;
}
/*Contact*/
.contact-section {
  background-color: #f5f5f5 !important;
  overflow: hidden !important;
  padding-bottom: 5%;
  padding-top: 6rem;
}
.contact-section ul {
  text-align: center !important;
  justify-content: center !important;
}
#contact-text {
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}
.map-responsive {
  margin-right: 1%;
  margin-left: 1%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.privacy-a {
  text-decoration: none;
}
@media only screen and (max-width: 450px) {
  #contact-text {
    padding-right: 10%;
    color: red;
  }
}
/*//Contact*/
