@import url("https://fonts.googleapis.com/css?family=Caveat");

/*NavBar*/

/*NavBar*/
input:focus {
  border-color: #5cb85c !important;
  box-shadow: 0 0 5px #5cb85c !important;
}
textarea:focus {
  border-color: #5cb85c !important;
  box-shadow: 0 0 5px #5cb85c !important;
}

/* Product Section */
.product-section {
  overflow: hidden !important;
  padding: 5% !important;
  margin-top: 30px;
  background-color: #fff4e0 !important;
}
@media only screen and (max-width: 450px) {
  .product-section {
    margin-top: 17%;
  }
}
/* //Product Section */
/*Soc Icons*/
.fab {
  padding: 0.5rem;
  color: #333333;
}
.fab:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fab-facebook {
  background: #3b5998;
  color: white;
}

.fab-twitter {
  background: #55acee;
  color: white;
}

/*// Soc Icons*/
/*Contact*/
.contact-section {
  background-color: #f5f5f5 !important;
  overflow: hidden !important;
  padding-bottom: 5%;
  padding-top: 6rem;
}
.contact-section ul {
  text-align: center !important;
  justify-content: center !important;
}
#contact-text {
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}
.map-responsive {
  margin-right: 1%;
  margin-left: 1%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.privacy-a {
  text-decoration: none;
}
@media only screen and (max-width: 450px) {
  #contact-text {
    padding-right: 15%;
  }
}
/*//Contact*/

/* Footer */
.footer {
  padding: 20px;
}
/* // Footer */

/* Privacy Section */
.privacy-section {
  margin-top: 3%;
  padding: 5%;
  background-color: #dddddd;
  overflow: hidden;
}
.privacy-links {
  text-decoration: none;
  color: #008000;
  overflow: hidden;
  max-width: 100%;
}
.privacy-links:hover {
  text-decoration: none;
  color: #008000;
  overflow: hidden;
  max-width: 100%;
}
.privacy-a {
  text-decoration: none;
  color: black;
}
.privacy-a:hover {
  text-decoration: none;
  color: #666666;
}
@media only screen and (max-width: 450px) {
  .privacy-section {
    padding-top: 20%;
    text-align: center;
  }
  .privacy-links {
    max-width: 100% !important;
  }
  .privacy-links:hover {
    max-width: 100% !important;
  }
}
